<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:loxia="http://loxia.benjamin.cn/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		">

	<util:properties id="email"
		location="classpath:.properties"></util:properties>

	<!-- 邮件发送器 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="#{meta['email.host']}" />
		<property name="username" value="#{meta['email.username']}" />
		<property name="password" value="#{meta['email.password']}" />
		<property name="defaultEncoding" value="#{meta['email.defaultEncoding']}"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth"><![CDATA[#{meta['email.smtp.auth']}]]></prop>
				<prop key="mail.smtp.timeout"><![CDATA[#{meta['email.smtp.timeout']}]]></prop>
			</props>
		</property>
	</bean>
</beans>